.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

a {
    width: 220px;
    height: 350px;
    border-radius: 5px;
    background-color:plum;
}

p{
    font-weight: bolder;
    margin-left: 10px;
    font-family:'Century Gothic';
}

.card {
    display: inline-grid;
    grid-template-columns: auto auto;
    padding: 50px;
    margin: auto;
    justify-content: space-around;
    margin-left: 25%;

}

